/*背景颜色*/
CWeather QWidget#widget
{
	background-color: rgba(150, 100, 25,0);
	background-image: url(skin/background.png);
}

CWeather QPushButton#btnSearch
{
	background-image: url(skin/search.png);
	background-color: rgba(157, 133, 255,0);
}

CWeather QLabel#lblTypeIcon
{
	background-image: url(skin/pm25.png);
}

